<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Keep in Touch:</h2>
				</div>
				<div class="col-lg-6">
					

					<div class="calendly-inline-widget" data-url="https://calendly.com/mrlgodoy" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->