<section id="servicos" class=" text-md-start text-center">
	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-12 col-lg-6">
				<img src="img/services-1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3 fs-3">Soluções Mobile e Web para sua Empresa</h1>
				<p class="lead">Diversos tipos de soluções para sua empresa feitas com as
					tecnologias atuais presentes no mercado.
					</p>
				<div>
					<a target="blank" href="{{ site.contacturl }}" class="btn btn-outline-secondary btn-lg px-4">{{ site.contacttitle }}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-light">
		<div class="container col-xxl-8 px-4 py-5">
			<div class="row flex-lg-row-reverse flex-wrap-reverse align-items-center g-5 py-5">
				<div class="col-lg-6">
					<h1 class="display-5 fw-bold lh-1 mb-3 fs-3">Serviço de Suporte 24 Horas</h1>
					<p class="lead">Contamos com uma equipe de suporte prepara para
						atender nossos clientes da melhor maneira possivel,
						tendo um suporte 24 horas por dia.</p>
					<div>
						<a target="blank" href="{{ site.contacturl }}" class="btn btn-outline-secondary btn-lg px-4">{{ site.contacttitle }}</a>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<img src="img/services-2.png" class="d-block w-100 img-fluid" alt="Serviço de Suporte 24 Horas" loading="lazy">
				</div>
			</div>
		</div>
	</div>
	
	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-12 col-lg-6">
				<img src="img/services-3.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3 fs-3">Treinamentos e Acompanhamento Pós Venda</h1>
				<p class="lead">Disponibilizamos treinamentos e acompanhamentos pós venda para
					garantir sua satisfação com nossos serviços.</p>
				<div>
					<a target="blank" href="{{ site.contacturl }}" class="btn btn-outline-secondary btn-lg px-4">{{ site.contacttitle }}</a>
				</div>
			</div>
		</div>
	</div>

</section>